#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Fornite Linux Setup
Exec=curl https://raw.githubusercontent.com/SirStig/fortnite-deck/main/installers/fortnitesetup.sh | bash -s --
Icon=curl https://raw.githubusercontent.com/SirStig/fortnite-deck/main/installers/fortnite-linux-setup.ico
Terminal=true
Type=Application
StartupNotify=false
